<ion-view title="" id="finish">
    <ion-content>
<!--        <div ng-show="data.shipping.orderError">
            错误 ({{shipping.orderError.status}}). 您的订单无法处理。
            <a href="">再次尝试</a>
        </div>-->
        <div style="color: #fff;text-align: center;padding-top: 80px;">
            <h2 style="color: #fff;">Thanks!</h2>
            <p>感谢下单!我们将第一时间给您发货。</p>
            <a href="#/tabs/home"
               style="text-decoration: none;
               color: #EFDECC;border: 1px solid #EFDECC;
               display: inline-block;
               width:150px;
               height: 50px;
               line-height: 50px;
               border-radius: 6px;">Return Home</a>
        </div>
    </ion-content>
</ion-view>
